@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .panel-container {
        @apply flex absolute w-full h-full rounded-lg;
    }

    .panel-section {
        @apply flex space-x-2 text-sm;
    }
    .hovered-anim {
        @apply transition-all duration-200 hover:scale-110 hover:rotate-3;
    }

    .bottom-btn-anim {
        @apply hover:enabled:scale-110;
    }

    .bottom-btn {
        @apply text-white px-2 rounded-md text-xs aspect-square transition-all
        disabled:bg-gray-400 disabled:cursor-not-allowed hover:scale-110 hover:rotate-6;
    }
}
