@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(47, 47, 47);
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}


@layer components {
    .panel-section {
        @apply flex space-x-2 text-sm;
    }
    .hovered-anim {
        @apply transition-all duration-200 hover:scale-110 hover:rotate-3;
    }

    .bottom-btn-anim {
        @apply hover:enabled:scale-110;
    }

    .bottom-btn {
        @apply text-white px-2 rounded-md text-xs aspect-square transition-all
        disabled:bg-gray-400 disabled:cursor-not-allowed hover:scale-110 hover:rotate-6;
    }
}
