@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="color"]::-moz-color-swatch {
        border: none;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 0;
    }

    input[type="color"]::-webkit-color-swatch {
        border: none;
    }
}

@layer components {
    .panel-container {
        @apply flex absolute w-full h-full;
    }

    .panel-section {
        @apply flex space-x-2 text-sm;
    }
    .hovered-anim {
        @apply transition-all duration-200 hover:scale-110 hover:rotate-3;
    }

    .bottom-btn-anim {
        @apply hover:enabled:scale-110;
    }

    .bottom-btn {
        @apply text-white px-2 rounded-md text-sm aspect-square transition-all
        disabled:bg-gray-400 disabled:cursor-not-allowed hover:scale-110 hover:rotate-6;
    }
}
